h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background-color: yellow;
    padding-top: 50px;
    margin:20px;
    height: 100px;
}
h2{
    color: white;
    margin: 20PX;
    background-color: rgb(156, 70, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    /*se puede poner con un rango entre 100-900*/
    font-style: italic;
    /*cursiva, normal moodifica la inclianacion*/
    text-align: justify;
    /*text-decoration: line-through; (linea central a toda la letras)*/
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    background-color: yellow;
    padding: 20px;
    width: auto;
}
body{
    background-image: url("https://media.istockphoto.com/id/1352766113/es/vector/comida-r%C3%A1pida-de-hamburguesa-papas-fritas-y-refrescos-comida-basura.jpg?s=612x612&w=0&k=20&c=4ZIML5Fp8BmT6GXtkSX8WW3JZyGgtUigdfLnaikF0Po=");
}
.body-hamburguesa{
    background-image: url("https://img.freepik.com/vector-gratis/icon-vector-dibujos-animados-hamburguesas-ilustracion-icon-objeto-alimentos-vector-plano-aislado_138676-13218.jpg?semt=ais_wordcount_boost&w=740&q=80");
    background: cover;
    background-position: top;
    background-attachment: fixed;
    /*fixed que la imagen no se mueva al hacer scroll*/
}
#plato-bandera {
    color: firebrick;
}
.lista_productos {
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
    list-style-type: disc;
    list-style-type: #000;
    padding-left: 20px;
    margin-left: 50px;
    text-decoration: none;
    
}
ul{
    background-color: #0fa5;
}



/*Para un elemento unico*/


div {
    background-color: gray;
    width: 200px;
    height: 20px;
}
.formulario{
    margin: 20px;
    background-color: seashell;
    padding: 20px;/*Separa el elemento de los bordes o padding: 10px 0 40px 20px*/
    /*pading-(top-arriba, bottom-abajo, left-izquierda, right-derecha)*/
}
.formulario_input{
    padding: 10px;
    width: 80%;
    color: white;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    background-color: grey;  
    margin: 5px;  
}
.formulario_submit{
    letter-spacing: 5px;
    text-transform: uppercase;
    width: 50%;
}
::placeholder{
    color:white
}
.btnPP{
    display: inline-block;
    padding: 10px 70px;
    background-color: green;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: darkgoldenrod;
    border-style: solid;
    margin-left: 70px;
}
.btnRegistro{
    display: inline-block;
    padding: 10px 70px;
    background-color: white;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-left: 70%;
    margin-right:10%;
}